<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/michaelz-voice2sports/audiblizer-dist/audiblizer-0.8.1-iPhone.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/michaelz-voice2sports/audiblizer-dist/blob/master/Audiblizer%4057x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/michaelz-voice2sports/audiblizer-dist/blob/master/Audiblizer%40512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.voice2sports.audiblizer-0.8.1</string>
				<key>bundle-version</key>
				<string>0.8.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>audiblizer-0.8.1</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
